#blue-button,
#gray-button,
#red-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;

    text-decoration: none;
    cursor: pointer;

    transition: all 200ms;

    display: flex;
    align-items: center;
    column-gap: 0.4rem;

    > img {
        width: 1.5rem;
        height: 1.5rem;

        filter: invert();
    }
}

#blue-button {
    background-color: var(--primary);
}

#blue-button:hover {
    box-shadow: 0 0 10px -2px var(--secondary);
}

#gray-button {
    background-color: var(--dark-gray);
}

#gray-button:hover {
    box-shadow: 0 0 10px var(--light-gray);
}

#red-button {
    background-color: var(--red);
}

#red-button:hover {
    box-shadow: 0 0 10px #e34267;
}
