#blue-button,
#gray-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;

    text-decoration: none;
    cursor: pointer;

    transition: all 200ms;

    display: flex;
    align-items: center;
    column-gap: 0.4rem;

    > img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

#blue-button {
    background-color: var(--secondary);

    color: var(--white);

    > img {
        filter: invert();
    }
}

#blue-button:hover {
    box-shadow: 0 0 10px 5px var(--primary);
}

#gray-button {
    background-color: var(--light-gray);

    box-shadow: 0 0 10px var(--dark-gray);
}

#gray-button:hover {
    box-shadow: 0 0 10px 2px var(--dark-gray);
}
