div#user,
div#date {
    display: flex;
    align-items: center;
    column-gap: 0.2rem;

    cursor: pointer;

    > * {
        color: var(--text-tetriary);
    }

    > img {
        width: 1.5rem;
        height: 1.5rem;

        filter: invert(78%) sepia(0%) saturate(8%) hue-rotate(79deg) brightness(91%) contrast(85%);
    }
}

#tag {
    padding: 0.2rem;

    color: var(--text-tetriary);
}
