:root {
    @media (prefers-color-scheme: dark) {
        --background: #232328;

        --light-gray: #44444a;
        --dark-gray: #36363c;

        --text: #f3f3f7;
        --text-secondary: #d5d5d8;
        --text-tetriary: #acacaf;

        --primary: #0098ea;
        --secondary: #07acff;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-size: 16px;
    font-size: clamp(12px, 2.5dvw, 16px);
    font-weight: 400;
    color: var(--text);
}

h1,
h1 > * {
    font-size: 1.5rem;
}

h2,
h2 > * {
    font-size: 1.3rem;
}

h3,
h3 > * {
    font-size: 1.1rem;
}

span {
    font-weight: 600;
}

html {
    overflow-y: scroll;
    height: 100%;
}

html,
body {
    max-width: 100%;
}

body {
    background-color: var(--background);

    > main {
        height: 100%;
        margin-top: 4.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

a {
    text-decoration: none;
}
