:root {
    --white: #f7f7f7;
    --light-gray: #eeeeee;
    --dark-gray: #929aab;
    --black: #393e46;

    --primary: #85dfe1;
    --secondary: #4bbfc2;
    /* 
    --primary: #3dafb3;
    --secondary: #1e7a7b; */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-size: 16px;
    font-size: clamp(12px, 2.5dvw, 16px);
    font-weight: 400;
    color: var(--black);
}

h1,
h1 > * {
    font-size: 1.2rem;
}

span {
    font-weight: 600;
}

h3,
h3 > * {
    font-size: 0.8rem;
}

html,
body {
    max-width: 100dvw;
    overflow-x: hidden;
}

body {
    background-color: var(--white);

    > main {
        margin-top: 4.15rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

a,
button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    background: none;
    background-color: var(--secondary);

    color: var(--white);
    text-decoration: none;
    cursor: pointer;

    transition: all 200ms;
}

a:hover,
button:hover {
    box-shadow: 0 0 10px 5px var(--primary);
}
