main.home {
    > div.sorting {
        padding-top: 1rem;

        display: flex;
        column-gap: 0.4rem;
    }

    > section {
        width: 100%;

        padding: 1rem;

        display: grid;
        grid-template-columns: repeat(auto-fill, 20rem);
        justify-content: center;

        gap: inherit;

        @media screen and (max-width: 900px) {
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 1rem 0;

            > article {
                max-width: 100%;
                max-height: fit-content;

                border-left: none;
                border-right: none;
                border-radius: 0;
            }
        }
    }
}
