main.home {
    > section {
        width: 100%;

        padding: 1rem;

        display: grid;
        grid-template-columns: repeat(auto-fill, 20rem);
        justify-content: center;
        gap: 1rem;

        @media screen and (max-width: 900px) {
            display: flex;
            flex-direction: column;
            align-items: center;

            > article {
                max-width: 100dvw;
                max-height: fit-content;

                border-left: none;
                border-right: none;
                border-radius: 0;
            }
        }
    }
}
