article.preview {
    max-width: 20rem;
    max-height: 25rem;

    border: 1px solid var(--dark-gray);
    border-radius: 10px;

    overflow: hidden;

    img {
        max-width: inherit;
        height: auto;
    }

    > div {
        padding: 0.5rem;

        display: flex;
        flex-direction: column;
        row-gap: 0.4rem;

        > h1 {
            height: 3rem;
            overflow: hidden;
        }

        > h2 {
            height: 2.5rem;
            overflow: hidden;
        }

        > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    @media screen and (max-width: 900px) {
        max-width: 80dvw;
        max-height: 30rem;
    }
}
