article.preview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 0.4rem;

    overflow: hidden;
    cursor: pointer;

    > * {
        max-width: inherit;
    }

    > img {
        width: 100%;
        height: auto;

        border-radius: 10px;
    }

    > div {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 0.5rem;
    }

    > h2 {
        max-height: 4rem;
        overflow: hidden;

        > span {
            transition: all 200ms;
        }
    }

    > h4 {
        max-height: 2.5rem;
        overflow: hidden;

        color: var(--text-secondary);
    }
}

article.preview:hover {
    h2 > span {
        color: var(--secondary);
    }
}
