:root {
    --width: calc(50dvw - 2rem);

    @media screen and (max-width: 900px) {
        --width: calc(100dvw - 3rem);
    }
}

main.loading {
    height: calc(100dvh - 4.5rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main.article {
    padding: 1rem;

    > h1,
    > h1 > * {
        width: var(--width);
        font-size: 2.5rem !important;
    }

    > div.additional {
        width: var(--width);

        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 0.5rem;
    }

    > img {
        width: var(--width);
        max-width: var(--width);
        height: auto;
        border-radius: 10px;
    }

    > div.author,
    > div#tags {
        width: var(--width);

        display: flex;
        column-gap: 0.4rem;
    }

    > div.author {
        justify-content: space-between;
    }

    > article {
        width: var(--width) !important;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;

        p,
        div,
        div > *,
        p > *,
        ul,
        ol,
        div,
        h2,
        h2 > *,
        h3,
        h3 > *,
        h4,
        h4 > *,
        li {
            flex-direction: column !important;
            margin: 0 !important;
            padding: 0 !important;

            width: var(--width) !important;
            max-width: var(--width) !important;

            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            font-family: inherit !important;
            word-break: inherit !important;
            color: var(--text) !important;
        }

        h2,
        h2 > * {
            font-size: 1.75rem !important;
            font-weight: 500 !important;
        }

        h3,
        h3 > * {
            font-size: 1.5rem !important;
            font-weight: 500 !important;
        }

        a {
            color: var(--primary) !important;
        }

        a:hover {
            text-decoration: underline !important;
        }

        > img {
            width: 100%;
            height: auto;

            border-radius: 10px;
        }
    }
}
